<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    
    <!-- <h1>working ???</h1> -->
    <div class="main w-full min-h-screen bg-zinc-900 text-white p-10">
        <a href="/" class=" text-md text-blue-500">back to home</a>
        
        <h1 class=" w-[14vw] text-3xl  outline-none px-5 py-2 "><%= filename%></h1>

        <p class="block mt-5 px-2 py-1 text-green-500 "><%= filedata %></p>
    </div>
    

   
</body>
</html>